<% if @stock %>
    <div class="card card-header results-block">
        <strong>Symbol: </strong><%= @stock.symbol %>
        <strong>Price: </strong><%= @stock.previous_close %>
        <%= button_to 'Add', user_stocks_path(user: current_user, symbol: @stock.symbol), class: "btn btn-success btn-xs"%>
    </div>
<% end %>