@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

/*.navbar-brand{
   font-size: 3rem;
}*/

.search-area {
   padding-top: 50px;
}

.no-right-padding {
   padding-right: 0 !important;
}

.no-left-padding {
   padding-left: 0 !important;
}

.results-block {
   display: inline-block;
   margin-bottom: 1rem;
}

.logout-button{
   margin-right: 5px;
}


.user-name{
   margin-top: 1.5%;
   padding-right: 5px;
}

.pagination li {
   display:inline-block;
   padding:5px;
 }

 .list {
    list-style: none;
 }

 .search {
    padding-top: 2px;
    padding-bottom: 2px;
 }

 .stock-details {
   display: flex;
   list-style: none;
   padding-left: 0;
   padding-right: 60px;
   justify-content:space-between;
 }